<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:c="http://www.springframework.org/schema/c"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
 http://www.springframework.org/schema/beans
 http://www.springframework.org/schema/beans/spring-beans.xsd
 http://www.springframework.org/schema/context
 http://www.springframework.org/schema/context/spring-context.xsd">

	<bean class="com.springcore.ci.Person" name="p1">
		<constructor-arg value="78" name="personId1"/>
		<constructor-arg>
			<value>Shivani</value>
		</constructor-arg>
	</bean>
	<bean class="com.springcore.ci.Person" name="p2" c:name1="abc" c:personId1="1512">
	</bean>

</beans>